input{
	width:235px;
	border: 1px solid #57A0D5;
	padding: 5px;
	-webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
	box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
	vertical-align: middle;
}
label{
	margin-right: 10px;
	vertical-align: middle;
	font-family:Arial;
}
button{
	position: relative;
	left: 100px;
}
.text-right{
	text-align: right;
}
.text-center{
	text-align: center;
}
.float-container{
	position:relative;
    overflow: hidden;
    height:100%;
}
.center{
	margin:0 auto;
}
.right{
	float: right;
}
.left{
	float: left;
}
.form-box{
	border: 2px dashed #4A6391;
	background-color: #E0EBF7;
	padding: 15px;
	margin-top: 20px;
	width: 350px;
}
.form-line{
	padding: 3px;
}
.main-button {
	-moz-box-shadow:inset 0px 1px 0px 0px #bee2f9;
	-webkit-box-shadow:inset 0px 1px 0px 0px #bee2f9;
	box-shadow:inset 0px 1px 0px 0px #bee2f9;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #63b8ee), color-stop(1, #468ccf) );
	background:-moz-linear-gradient( center top, #63b8ee 5%, #468ccf 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#63b8ee', endColorstr='#468ccf');
	background-color:#63b8ee;
	-webkit-border-top-left-radius:10px;
	-moz-border-radius-topleft:10px;
	border-top-left-radius:10px;
	-webkit-border-top-right-radius:10px;
	-moz-border-radius-topright:10px;
	border-top-right-radius:10px;
	-webkit-border-bottom-right-radius:10px;
	-moz-border-radius-bottomright:10px;
	border-bottom-right-radius:10px;
	-webkit-border-bottom-left-radius:10px;
	-moz-border-radius-bottomleft:10px;
	border-bottom-left-radius:10px;
	text-indent:0;
	border:1px solid #3866a3;
	display:inline-block;
	color:#14396a;
	font-family:Arial;
	font-size:18px;
	font-weight:bold;
	font-style:normal;
	height:40px;
	line-height:40px;
	width:141px;
	text-decoration:none;
	text-align:center;
	text-shadow:1px 1px 0px #7cacde;
	margin-top: 10px;
}
.main-button:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #468ccf), color-stop(1, #63b8ee) );
	background:-moz-linear-gradient( center top, #468ccf 5%, #63b8ee 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#468ccf', endColorstr='#63b8ee');
	background-color:#468ccf;
}.main-button:active {
	position:relative;
	top:1px;
}
/*  not currently used in the form*/

.jumbotron{
    background-image:url('../img/banner_small.jpg');
    background-repeat: no-repeat;
    background-size: 100% auto;
}
#title_container{
    float: right;
    color: #002D62;
}
.lead{
	font-weight: bold;
	font-size: 110%;
}
#label{
	text-decoration: underline;
}
#tagline{
    color: #C00000;
    font-weight: bold;
    font-size: 200%;
    width: 400px;
}